.card-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-width: 500px;
  background-color: #f5f7fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
